
body{
	background: #f7f7f7;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.appheader{
	background: #2e92bd;
	padding: 15px 5px;
	margin-bottom: 25px;
}
.logo{
	width: 40px;
}
.logo-text{
	color:#f2f2f2;
	margin-left: 10px;
}
.search{
	opacity: .9
}
.active{
	font-weight: bold
}

.search-filters{
	margin-bottom: 20px
}
.search-filters-text{
	padding-left: 30px
}

.filters-text{
	text-align: right;
	padding-right: 30px
}

.filter-option{
	width: 40px; 
	display: inline-block;
	height: 30px; 
	top: -3px;
	margin-left: 10px;
	position: absolute
}


.content{
	height: 420px;
	padding-top: 10px;
	padding-bottom: 60px;
	background: transparent;
	border: none;
	overflow-x: hidden;
	overflow-y: scroll;
}

.list-link-a, .list-link-a:hover{
	text-decoration: none;
	margin-bottom: 20px;
	display: block;
}
.list-image{
	margin-top: 10px
}
.list-title{
	font-size: 18px;
	margin-bottom: 0px
}
.list-company{
	margin-bottom: 0px;
	font-weight: bold
}
.list-location{
	font-size: 12px;
	margin-bottom: 0px
}
.list-type{
	font-size: 12px;
}
.list-link{
	text-decoration: none;
	width: 98%;
	 transition: color .2s, width 0.2s linear; /* vendorless fallback */
    -o-transition: color .2s, width 0.2s linear; /* opera */
    -ms-transition: color .2s, width 0.2s linear; /* IE 10 */
    -moz-transition: color .2s, width 0.2s linear; /* Firefox */
    -webkit-transition: color .2s, width 0.2s linear; /*safari and chrome */
	color: #444;
	padding: 10px 20px; 
	float: none;
	margin: 0px auto;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	border-radius: 5px
}
.list-link:hover{
	text-decoration: none;
	color: #0d8abc;
	width: 99%;
}

.favorites-title{
	padding-left: 30px
}
.favorites-text{
	text-align: right;
	padding-right: 50px;
}

.settings-list{
	background: white;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #f2f2f2;
}
.settings-list a{
	margin-bottom: 20px;
	display: block;
	color: #444;
}

.job-details-image{
	margin-top: 10px
}
.job-details-title{
	font-size: 18px;
	margin-bottom: 0px
}
.job-details-company{
	margin-bottom: 0px;
	font-weight: bold
}
.job-details-location{
	font-size: 14px;
	margin-bottom: 0px
}
.job-details-type{
	font-size: 14px;
}
.job-details{
	text-decoration: none;
	width: 99%;
	color: #444;
	padding: 10px 20px; 
	float: none;
	margin: 0px auto;
	background: white; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.job-description{
	height: 320px;
	padding: 10px 20px 60px 20px;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	border: none;
	width: 99%; 
	float: none;
	margin: 0px auto;
	overflow-x: hidden;
	overflow-y: scroll;
}
.footer-link{
	transition: font-weight .2s;
	text-align: center;
}
.footer-link:hover{
	font-weight: bold;
	text-decoration: none;
}


.apply-anchor{
  position: fixed;
  box-shadow: 0 -14px 10px 0 rgba(255, 255, 255, .7);
  float: none;
  padding: 0px;
  padding-bottom: 15px;
  margin: 0px auto;
  text-align: center;
  width: 100%;
  background: rgba(255,255,255,.7);
  bottom: 55px;
}
.applybtn{
	border-radius: 20px;
	margin-right: 10px;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bold;
}
.favorites-btn{
	border-radius: 20px;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bold;
}

.login-list{
	background: white;
	padding: 50px;
	border-radius: 5px;
	border: 1px solid #f2f2f2;
}
.login-bg{
	background: white;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #f2f2f2;
}
.linkedin{
	background: #0e76a8;
	color:whitesmoke;
}
.google{
	border: 1px solid #ccc !important;
}
.google:hover{
	background: #f2f2f2
}
.linkedin:hover{
	background: #0a557a;
	color: white;
}

.login{
	background: #0e76a8;
	color:whitesmoke;
}
.login:hover{
	background: #0a557a;
	color: white;
}

.linkedin-alt{
	background: #fff;
	padding: 15px !important;
	border: 1px solid #ccc !important;
}
.google-alt{
	padding: 15px !important;
	padding-top: 0px;
	border: 1px solid #ccc !important;
}
.google-alt:hover{
	background: #f2f2f2
}
.linkedin-alt:hover{
	background: #f2f2f2;
}
.login-list .btn{
	border: none;
	border-radius: 30px;
	padding: 15px 25px;
}
.login-input{
	padding: 20px 8px
}
.login-label{
	margin-bottom: 5px;
	margin-left: 5px
}
.login-list .btn img{
	float: left;
    left: 100px;
    width: 30px;
}
.login-bg .btn{
	border: none;
	padding: 15px 25px;
	border-radius: 30px;
}
.login-bg .btn img{
	float: left;
    left: 100px;
    width: 30px;
}

.login-link{
	margin-top: 10px;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #eaf4f8; 
  padding: 15px; 
  font-weight: ; 
  color: rgba(0,0,0,1); 
  box-shadow: 0 -4px 8px 0 rgb(210, 219, 222)
}
.footer-alt {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #eaf4f8; 
  padding: 15px; 
  font-weight: ; 
  color: rgba(0,0,0,1); 
}